* {
    box-sizing: border-box;
}

h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
    background: #55b39b;
    padding: 18px;
    text-align: center;
}

body {
    font-family: sans-serif;
    background: linear-gradient(grey, black);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}


/* Input form Style */

.input {
    border: 4px solid #55b39b;
    border-radius: 5px;
    height: 52px;
    width: 300px;
    color: #000000;
    font-size: 14px;
    padding-left: 20px;
    box-shadow: none;
    outline: none;
}

.input_wrap label {
    font-family: arial;
    font-size: 16px;
    color: #55b39b;
    padding: 14px;
    position: absolute;
    top: 4px;
    left: 0;
    transition: 0.2s ease all;
    pointer-events: none;
}

/* Label style after Input feild is in focus. */

.input:focus+label,
.input:valid+label {
    font-size: 12px;
    color: #55b39b;
    top: 5px;
    left: 17px;
    background: #ffffff;
    padding: 0px 5px 0px 5px;
}

.input_wrap {
    width: auto;
    height: auto;
    position: relative;
}